<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Waiting Time</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="dashboard-page">

<!-- NAVBAR -->
<div class="navbar">
  <h2 class="logo">Data Scientest Graduation Project</h2>

  <div class="nav-links">
    <a href="{{ url_for('main_home') }}">Home</a>
    <a href="{{ url_for('recommendation') }}">Recommendation</a>
    <a href="{{ url_for('waiting') }}" class="active">Waiting Time</a>
    <a href="{{ url_for('reviews') }}">Reviews</a>
    <a href="{{ url_for('emergency') }}">Emergency Assistant</a>
  </div>
</div>

<!-- MAIN -->
<div class="main">
  <div class="dashboard-container">

    <div class="title-card">
      <h1>Park Waiting Time</h1>
      <p>Real-time crowd & waiting prediction</p>
    </div>

    <div class="card">
      <label>Select Visit Date</label>
      <input type="date" id="date">
      <button class="btn" onclick="predict()">Predict</button>
    </div>

    <div id="resultCards" class="grid-2"></div>

  </div>
</div>


<script>
function predict(){

  const date=document.getElementById("date").value;
  if(!date) return alert("Select date");

  let container=document.getElementById("resultCards");

  container.innerHTML=`
    <div class="skeleton"></div>
    <div class="skeleton"></div>
  `;

  fetch("/predict_dashboard",{
    method:"POST",
    headers:{"Content-Type":"application/json"},
    body:JSON.stringify({date})
  })
  .then(res=>res.json())
.then(data=>{

  let crowd = data.crowd.toLowerCase();

  let crowdClass = crowd;

  if(!["low","medium","high"].includes(crowd)){
    crowdClass = "low";
  }

  let wait = parseInt(data.wait);

  let waitClass = "wait-low";
  if(wait > 40){
    waitClass = "wait-high";
  } else if(wait > 20){
    waitClass = "wait-medium";
  }

  let displayCrowd = crowd.charAt(0).toUpperCase() + crowd.slice(1);

  container.innerHTML=`
    <div class="dash-card ${crowdClass}">
      <h3>Crowd Level</h3>
      <p class="dash-value">${displayCrowd}</p>

      <div class="progress">
        <div class="progress-bar bar-${crowdClass}" style="width:${wait}%"></div>
      </div>
    </div>

    <div class="dash-card">
      <h3>⏱ Waiting Time</h3>
      <p class="dash-value ${waitClass}">
        ${data.wait}
      </p>
    </div>
  `;
});
}
</script>

<div class="footer">
  Developed By Data Science Students - College of Computing 2026
</div>

</body>
</html>